// variables.scss

$card-bg-color: #ffffff;
$background-color: rgba(0, 0, 0, 0.7);
$font-primary-color: #181818;
$font-secondary-color: #747474;
$input-focus-color: #4091f0;
$input-text-color: #333333;
$button-inactive-color: #cccccc;
$button-active-colr: #8aa838;
$grey-light: #acacac;

// You can add more variables as needed
